@page "/"
@implements IDisposable
@inject ILogger<Home> Logger
@inject IConfiguration Config

<PageTitle>Check Matches</PageTitle>

<h3>Check Matches</h3>

<EditForm Model="Model" OnValidSubmit="OnValidSubmit" FormName="CheckMatches" class="form-floating">
    <DataAnnotationsValidator />
    <div class="row g-2 mb-6">
        <div class="col">
            <div class="row">
                @for (int i = 0; i < 6; i++)
                {
                    <div class="col-md-2">
                        <div class="form-floating">
                            <InputNumber @bind-Value="Model!.Result![i]" Min="1" Max="60" step="1" class="form-control" />
                        </div>
                    </div>
                }
                <ValidationMessage For="() => Model!.Result" />
            </div>
            <p></p>
            <div class="row">
                <div class="input-group mb-3">
                    <label class="input-group-text" for="inputGroupFile01">Upload bets</label>
                    <InputFile type="file" class="form-control" id="inputGroupFile01" OnChange="LoadFiles" multiple accept=".json" />
                </div>
            </div>
            <div class="d-grid gap-2 col-2">
                <button type="submit" class="btn btn-outline-success btn-lg">Check</button>
            </div>
        </div>
        <div class="col">
            <div class="col-md">
                <p>Result Summary</p>
                <p class="text-bg-danger"><ValidationSummary /></p>
                <p>@($"Bets with at least one compatible number ({Model!.MessageResults!.Count})")</p>
                <p>@($"Match result ({Model!.MatchResult!.Count})")</p>
                @if (success)
                {
                    <p class="text-bg-success">Success</p>
                    @foreach (var result in Model!.MatchResult!)
                    {
                        <p class="text-bg-success">@result</p>
                    }
                }
                @foreach (var error in Errors)
                {
                    <p class="text-bg-danger">@error</p>
                }
            </div>
        </div>
    </div>
</EditForm>

@code {
    [SupplyParameterFromForm]
    private BetsCheck? Model { get; set; } = new();

    private IList<string> Errors { get; set; } = new List<string>();
    private bool success = false;
    private List<IBrowserFile> loadedFiles = new List<IBrowserFile>();
    private const long maxFileSize = 1024 * 1024 * 3;
    private const int maxAllowedFiles = 5;
    private string tempFolder = Path.GetTempPath();

    protected override void OnInitialized()
    {
        InitializeModel();
        // ClearDirectories("unsafe_uploads", ".json");
        ClearDirectories("bets_result", ".json");
    }

    private void InitializeModel()
    {
        if (Model is null)
        {
            Model = new BetsCheck
                {
                    Matches = 0,
                    MatchResult = new List<string>(),
                    MessageResults = new List<string>(),
                    Result = new List<int>(new int[6])
                };
        }
    }

    private void ClearDirectories(string folderName, string fileExtension)
    {
        string directoryPath = Path.Combine(tempFolder, folderName);
        if (Directory.Exists(directoryPath))
        {
            foreach (var file in Directory.GetFiles(directoryPath, "*" + fileExtension))
            {
                File.Delete(file);
            }
        }
    }

    private async Task LoadFiles(InputFileChangeEventArgs e)
    {
        loadedFiles.Clear();

        if (e.FileCount > maxAllowedFiles)
        {
            AddError($"Error: Attempting to upload {e.FileCount} files, but only {maxAllowedFiles} files are allowed");
            return;
        }

        foreach (var file in e.GetMultipleFiles(maxAllowedFiles))
        {
            await SaveFileAsync(file);
        }

    }

    private async Task SaveFileAsync(IBrowserFile file)
    {
        try
        {
            string trustedFileName = Path.ChangeExtension(file.Name, Path.GetExtension(file.Name));
            string directoryPath = Path.Combine(tempFolder, "unsafe_uploads");
            string filePath = Path.Combine(directoryPath, trustedFileName);
            if (!Directory.Exists(directoryPath))
            {
                Directory.CreateDirectory(Path.GetDirectoryName(filePath)!);
            }

            await using FileStream fs = new(filePath, FileMode.Create);
            await file.OpenReadStream(maxFileSize).CopyToAsync(fs);

            loadedFiles.Add(file);
            Logger.LogInformation($"File saved: {file.Name}");
        }
        catch (Exception ex)
        {
            AddError($"File: {file.Name} Error: {ex.Message}");
        }
    }

    private void AddError(string message)
    {
        Errors.Add(message);
        Logger.LogError(message);
    }

    private void OnValidSubmit()
    {
        Model!.MessageResults!.Clear();
        Errors.Clear();
        success = false;

        string startFolder = Path.Combine(tempFolder, "unsafe_uploads");
        string pathResult = "bets_result";

        if (!Directory.Exists(startFolder))
        {
            AddError($"The directory {startFolder} don't exists ");
            return;
        }

        var files = new DirectoryInfo(startFolder).GetFiles("*.json", SearchOption.AllDirectories).OrderBy(file => file.Name);

        foreach (var file in files)
        {
            ProcessFile(file, tempFolder, pathResult);
        }

        Logger.LogInformation("Submit: Processing form");
        StateHasChanged();
    }

    private void ProcessFile(FileInfo file, string tempFolder, string pathResult)
    {
        var bets = LoadBets(file.FullName);
        var gameResult = Model!.Result!;
        var bettingResult = new List<Bets>();
        int match = 0;

        string outFileName = Path.Combine(tempFolder, pathResult, file.Name);
        Directory.CreateDirectory(Path.Combine(tempFolder, pathResult));

        foreach (var bet in bets)
        {
            var matchNumbers = CompareNumbers(bet, gameResult);

            if (matchNumbers.Any())
            {
                bettingResult.Add(new Bets { Row = bet.Row, Numbers = matchNumbers });
                Model.MessageResults!.Add($"Result in row {bet.Row} matches these numbers: {string.Join(", ", matchNumbers)}");
            }
            else
            {
                Model.MessageResults!.Add($"Result in row {bet.Row} doesn't match any number.");
            }

            if (matchNumbers.Count == gameResult.Count)
            {
                match++;
                Model.Matches = match;
                Model.MatchResult!.Add($"Result in row {bet.Row} matches these numbers: {string.Join(", ", matchNumbers)} in file {file.Name}");
                success = true;
            }
        }

        SaveResultsAsJson(new BetReport
            {
                TotalResults = bettingResult.Count,
                TotalMatches = match,
                BettingResult = bettingResult
            }, outFileName);
    }

    public static void SaveResultsAsJson(BetReport bets, string outFileName)
    {
        string json = JsonSerializer.Serialize(bets);
        File.WriteAllText(outFileName, json);
    }

    public static List<Bets> LoadBets(string fileName)
    {
        string json = File.ReadAllText(fileName);
        return JsonSerializer.Deserialize<Dictionary<string, List<Bets>>>(json)?["Bets"] ?? new List<Bets>();
    }

    public static List<int> CompareNumbers(Bets bet, List<int> gameResult)
    {
        return bet.Numbers?.Where(gameResult.Contains).ToList() ?? new List<int>();
    }

    public void Dispose()
    {
    }

    public class BetsCheck
    {
        [Required]
        public List<int>? Result { get; set; } = new List<int> { 1, 4, 20, 28, 57, 59 };

        public List<string>? MessageResults { get; set; } = new List<string>();

        public int? Matches { get; set; } = 0;

        public List<string>? MatchResult { get; set; } = new List<string>();

        [Required]
        public IList<IBrowserFile> File { get; set; } = new List<IBrowserFile>();
    }

    public class Bets
    {
        public int Row { get; set; }
        public List<int>? Numbers { get; set; }
    }

    public class BetReport
    {
        public string DevelopedBy { get; set; } = "Nucleus MAP, Machines, Automation, and Programming";
        public string DevelopedOnDate { get; set; } = "Monday, December 09, 2024";
        public string DeveloperURL { get; set; } = "http://nucleomap.com.br";
        public string DeveloperEmail { get; set; } = "nucleomap@nucleomap.com.br";
        public string Version { get; set; } = "2.0.0";
        public string GeneratedBy { get; set; } = Environment.UserName;
        public string GeneratedOnDate { get; set; } = DateTimeOffset.Now.ToString("F");
        public string StationName { get; set; } = Environment.MachineName;
        public string OSVersion { get; set; } = Environment.OSVersion.ToString();
        public int TotalResults { get; set; }
        public int TotalMatches { get; set; }
        public List<Bets> BettingResult { get; set; } = new List<Bets>();
    }
}
